@tailwind base;
@tailwind components;
@tailwind utilities;

body,
.darkBg {
  background-color: #101010;
  color: white;
}

.action-icon:active {
  transform: scale(0.9);
  transition: ease-in-out 100ms;
}
.action-icon:hover {
  cursor: pointer;
}

.action-icon {
  user-select: none;
}

.action-icon svg {
}

.share-buttons {
  display: none;
}

.share-button-div:hover .share-buttons {
  display: block;
}

.share-button-div:active .share-buttons {
  display: block;
}

.active-item svg {
  stroke: white;
  fill: white;
}

.inactive-item svg {
  stroke: #616161;
  fill: none;
}
